* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "outfit", serif;
}

body {
  padding: 10px;
  background-color: rgb(238, 127, 146);
}

.logo {
  font-family: "chillax", serif;
  font-weight: 600;
  font-size: 24px;
  position: fixed;
  top: 20px;
  z-index: 1001;
  cursor: pointer;

}





.menu-toggle {
  display: none;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 15px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger div,
.hamburger div::before,
.hamburger div::after {
  content: '';
  background-color: #000000;
  height: 2.5px;
  width: 30px;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease;
}

.hamburger div::before,
.hamburger div::after {
  position: absolute;
}

.hamburger div::before {
  top: -10px;
}

.hamburger div::after {
  top: 10px;
}

/* Animate to X when checked */
.menu-toggle:checked+.hamburger div {
  background: transparent;
}

.menu-toggle:checked+.hamburger div::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle:checked+.hamburger div::after {
  transform: rotate(-45deg);
  top: 0;
}

/* Overlay menu */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}

.menu-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-overlay ul li {
  margin-bottom: 50px;
}

.menu-overlay ul li a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-overlay ul li a:hover {
  color: #f8b400;
}

/* Show overlay when checked */
.menu-toggle:checked~.menu-overlay {
  visibility: visible;
  opacity: 1;
}



/* MAIN PAGE STYLING */
.content {
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.Images {
  margin-top: 20px;
  border-radius: 10px;
}

.wish-board {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.wish-board h3 {
  margin-bottom: 10px;
}

.Wishes {
  padding: 10px;
  font-size: 14px;
  background-color: wheat;
  margin-bottom: 20px;
  border-radius: 10px;
  /* border: solid 1px; */
  height: 27vw;
  width: 90%;
}

.simi {
  height: 47vw;
  margin-bottom: 25px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(213, 143, 155);
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.quotes {
  padding-left: 30px;
  padding-right: 30px;
  height: 30vh;
  border-radius: 10px;
  font-size: 15px;
}